body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #27282c;
  color: rgb(102, 55, 55);
}

button {
  background-color: #5bc0de;
  color: rgb(61, 52, 52);
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
